* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

* a {
    text-decoration: none;
    color: gray;
    padding: 8px 16px;
    font-weight: bolder;
}

.flex {
    display: flex;
    flex-direction: column;
}

nav {
    position: sticky;
    top: 0;
}

.nav-title {
    padding: 16px;
}

h2 {
    margin: 10px 0px;
}

.nav-list-up {
    padding: 64px 0px;
}

.nav-list-down a{
    color: black;
}

.row:hover {
    background-color: gray;
    color: black;
}

li {
    list-style-type: none;
    padding: 10px 0px;
}

.content-jeans-list {
    display: none;
    background-color: gray;
    color: black;
    padding: 10px 30px;
}

.jeans-list:hover .content-jeans-list {
    display: block;
}

.jeans-list:hover {
    background-color: gray;
}

.jeans-list a {
    color: black;
    padding: 8px 0px 8px 16px;
}

.anna {
    margin: 0 0 0 300px;
}

@media screen and (max-width: 992px)  {
    nav {
        display: none;
    }
}

@media screen and (min-width: 992px){
    header {
        display: none;
    }
}



body{
    display: flex;
    justify-content: space-between;
}
.main-container{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    margin-right: 300px;
}
header{
   height: 80px; 
   display: flex;
   justify-content: space-between;
}

#by-cart{
    margin: 20px;
    width: 50px;
}
#lupa{
    margin: 28px;
    width: 30px;
}
.main-container header h3{
    justify-content: flex-start;
    margin-top: 27px;
}
#header-img img{
    width: 97%;
}
#header-img{
    position: relative;
    color: white;
}
#header-img #h1{
    position: absolute;
    top: 10px;
    font-size: 70px;
    margin-left: 60px;
}
#header-img #h2{
    position: absolute;
    top: 150px;
    font-size: 30px;
    margin-left: 60px;
}
#shop-now{
    position: absolute;
    top: 250px;
    left: 60px;
     background-color: black;
     color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 24px ;
}
#shop-now:hover{
    color: black;
    background-color: rgb(153, 153, 153);
}
.main-container header h3{
    font-size: 25px;
}

@media screen and (max-width: 667px) {
    body{
        display: flex;
        justify-content: space-between;
    }
    .main-container{
        width: 70%;
        font-family: 'Montserrat', sans-serif;
    }
    header{
       height: 80px; 
       display: flex;
       justify-content: space-between;
    }
    
    #by-cart{
        margin: 20px;
        width: 50px;
    }
    #lupa{
        margin: 28px;
        width: 30px;
    }
    header h3{
        justify-content: flex-start;
    }
    img{
        width: 100%;
    }
    #header-img{
        position: relative;
        color: white;
    }
    #header-img #h1{
        position: absolute;
        top: 10px;
        font-size: 70px;
        margin-left: 60px;
    }
    #header-img #h2{
        position: absolute;
        top: 150px;
        font-size: 30px;
        margin-left: 60px;
    }
    #shop-now{
        position: absolute;
        top: 250px;
        left: 60px;
         background-color: black;
         color: white;
        font-size: 20px;
        text-decoration: none;
        padding: 12px 24px ;
    }
    #shop-now:hover{
        color: black;
        background-color: rgb(153, 153, 153);
    }
    .main-container header h3{
        font-size: 25px;
    }
}