* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

* a {
    text-decoration: none;
    color: gray;
    padding: 8px 16px;
    font-weight: bolder;
}

.flex {
    display: flex;
    flex-direction: column;
}

nav {
    position: sticky;
    top: 0;
}

.nav-title {
    padding: 16px;
}

h2 {
    margin: 10px 0px;
}

.nav-list-up {
    padding: 64px 0px;
}

.nav-list-down a{
    color: black;
}

.row:hover {
    background-color: gray;
    color: black;
}

li {
    list-style-type: none;
    padding: 10px 0px;
}

.content-jeans-list {
    display: none;
    background-color: gray;
    color: black;
    padding: 10px 30px;
}

.jeans-list:hover .content-jeans-list {
    display: block;
}

.jeans-list:hover {
    background-color: gray;
}

.jeans-list a {
    color: black;
    padding: 8px 0px 8px 16px;
}

.anna {
    margin: 0 0 0 300px;
}

@media screen and (max-width: 992px)  {
    nav {
        display: none;
    }
}

@media screen and (min-width: 992px){
    .header {
        display: none;
    }
}



body{
    display: flex;
    justify-content: space-between;
}
.main-container{
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    margin-right: 300px;
}
header{
   height: 80px; 
   display: flex;
   justify-content: space-between;
}

#by-cart{
    margin: 20px;
    width: 50px;
}
#lupa{
    margin: 28px;
    width: 30px;
}
.main-container header h3{
    justify-content: flex-start;
    margin-top: 27px;
}
#header-img img{
    width: 97%;
}
#header-img{
    position: relative;
    color: white;
}
#header-img #h1{
    position: absolute;
    top: 10px;
    font-size: 70px;
    margin-left: 60px;
}
#header-img #h2{
    position: absolute;
    top: 150px;
    font-size: 30px;
    margin-left: 60px;
}
#shop-now{
    position: absolute;
    top: 250px;
    left: 60px;
     background-color: black;
     color: white;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 24px ;
}
#shop-now:hover{
    color: black;
    background-color: rgb(153, 153, 153);
}
.main-container header h3{
    font-size: 25px;
}

@media screen and (max-width: 667px) {
    body{
        display: flex;
        justify-content: space-between;
    }
    .main-container{
        width: 70%;
        font-family: 'Montserrat', sans-serif;
    }
    header{
       height: 80px; 
       display: flex;
       justify-content: space-between;
    }
    
    #by-cart{
        margin: 20px;
        width: 50px;
    }
    #lupa{
        margin: 28px;
        width: 30px;
    }
    header h3{
        justify-content: flex-start;
    }
    img{
        width: 100%;
    }
    #header-img{
        position: relative;
        color: white;
    }
    #header-img #h1{
        position: absolute;
        top: 10px;
        font-size: 70px;
        margin-left: 60px;
    }
    #header-img #h2{
        position: absolute;
        top: 150px;
        font-size: 30px;
        margin-left: 60px;
    }
    #shop-now{
        position: absolute;
        top: 250px;
        left: 60px;
         background-color: black;
         color: white;
        font-size: 20px;
        text-decoration: none;
        padding: 12px 24px ;
    }
    #shop-now:hover{
        color: black;
        background-color: rgb(153, 153, 153);
    }
    .main-container header h3{
        font-size: 25px;
    }
}



.body{
    display: grid;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
h3{
    color: gray;
    margin: 0;
    padding: 0;
}
.items img{
    position: absolute;
    width: 100%;
    height: 280px;
    filter: grayscale(70%); 
}

.items{
    position: relative;
    width: 21.459%;
    height: 350px;
    margin: 0 15px;
    margin-bottom: 20px;
    
}
#items8-content{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0;
    margin-left: -12px;

}

.name-price{
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 12px;
    margin-top: 0;
    padding: 0;
}
.price-nums{ 
    margin: 10px 0 10px 10px 0;
    padding: 0;
}
#text-items8{
    display: flex;
    align-self: flex-start;
}

.subscribe {
    background-color: black;
    color: white;
    padding: 20px 15px;
}
.inputemail{
    width: 100%;
    border-radius: 4px;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button-subscribe {
    background-color: red;
    color: white;
    padding: 4px 4px;
    
}
.button-subscribe:hover {
    color: black;
    background-color: grey;
}

.footer-part{
    background-color: #f1f1f1;
    
    
}
.footer-part h1,
 .footer-part p,
 .footer-part a {
    font-family: 'Montserrat', sans-serif;
    color: #000 !important;
    

}

.w3-section{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;

}
.footer-part h1{
     
     font-size: 20px; 
  
}

.footer-part p{
    font-size: 12px; 
}
.about a{
    color: #000 !important;
   
}
.input-place{
    border: solid 1px #ccc;
    width: 60%;
    padding: 8px;
    margin-bottom: 8px;
    box-sizing: inherit;
}
.submit-place{
    border: solid 1px #000;
    color: #f1f1f1;
    background-color: #000;
    width: 60%;
    padding: 8px;
    box-sizing: inherit;
}
.contact{
    box-sizing: border-box;
    width: 33.3%;
    padding: 0 8px;
}
.about{
    text-align: center;
    box-sizing: border-box;
    width: 33.3%;
    padding: 0 8px;
}
.store{
    box-sizing: border-box;
    width: 33.3%;
    padding: 0 8px;
    
}
.powered-by{
    background-color: #000;
    text-align: center;
}
.href-and-text{
    display: inline-block;
}
.powered-by p,.powered-by a{
    color: #f1f1f1;

}